* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
.header {
  background-color: grey;

  padding: 1% 10%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15%;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-right: 30%;
}
.cover {
  background-image: linear-gradient(90deg, black 0%, rgba(0, 95, 172, 0) 100%),
    url("./asset/image/background.jpg");
  background-size: cover;
  height: 89vh;
  text-align: center;
}
.coverheader {
  color: white;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}
.coverdetails {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}
.discoverbtn {
  padding: 15px 30px;
  color: white;
  background-color: red;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.hirebtn {
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}
.converinfo {
  padding-top: 10%;
  padding-left: 19%;
  padding-right: 19%;
}
.serice-area {
  background-image: linear-gradient(90deg, black 10%, rgba(48, 49, 49, 0) 100%),
    url("./asset//image/footer-bg.png");
  background-size: cover;
  background-color: black;
  height: 600px;
  color: white;
  display: flex;
  padding: 20px;
  align-items: center;
}
.infoservice {
  width: 50%;
  padding: 10%;
  padding-right: 10%;
}
ol li {
  margin-top: 20px;
}
.boxinfo {
  border: 1px solid black;
  width: 250px;
  height: 150px;
  background-color: white;
  text-align: center;
  align-items: center;
  padding-top: 40px;
  border-radius: 10px;
}
#web {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 15px;
}
.coverheader1 {
  color: white;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 40px;
}
.btn-hire {
  padding: 15px 35px;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}
.infouser {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  align-items: center;
}
#authorimg {
  width: 80px;
  border-radius: 50%;
}
.authorinfo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 30px;
  border-right: 3px solid red;
}
.appointment-container {
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  background-color: rgba(228, 25, 25, 0.8);
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  text-align: left;
}
.freeinfo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 800;
}
.blogimg {
  width: 300px;
  border-radius: 10px;
}
.blogpart {
  border: 1px solid transparent;
  background-color: transparent;
  background-color: antiquewhite;
  box-shadow: 10px 10px 100px 8px antiquewhite;
  border-radius: 10px;
  width: 300px;
  height: 450px;
  padding: 20px;
}
.blogcon {
  background-color: grey;
  margin-top: 10px;
  padding-bottom: 40px;
}
.blogimgpart {
  text-align: left;
  margin-bottom: 20px;
}
.boxcontainer{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 40px;
}
.headerblog{
    text-align: center;
    padding-top: 30px;
    font-size: 34px;
    color: goldenrod;
}